.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #e8e8e8;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card.Gryffindor {
  background-color: #740001;
  color: #fff;
}

.card.Hufflepuff {
  background-color: #ecb939;
  color: #000;
}

.card.Ravenclaw {
  background-color: #222f5b;
  color: #fff;
}

.card.Slytherin {
  background-color: #1a472a;
  color: #fff;
}

.card-image img {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.card-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.hide {
  display: none;
}
