@font-face {
  font-family: "Yusei Magic";
  src: url("../public/YuseiMagic-Regular.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #e0e0e0;
}

body {
  font-family: "Yusei Magic", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav:hover h1 {
  transform: scale(1.5);
  animation: glint 2s linear infinite;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 3rem;
  transition: 0.3s;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* Difficulty Button */
.btn {
  width: max(5.5em, fit-content);
  height: 2em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

footer a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: #69359c;
}

/* Text glint (Shine from left to right) using box shadows */
@keyframes glint {
  0% {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Initial shadow */
  }
  25% {
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7); /* Increase shadow size */
  }
  50% {
    text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.9); /* Further increase shadow size */
  }
  75% {
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 1); /* Further increase shadow size */
  }
  100% {
    text-shadow: 10px 10px 24px rgba(0, 0, 0, 1); /* Largest shadow size */
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message p {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
